<footer class="bg-black pt-6 pb-10 mt-20">
    <div class="max-w-7xl mx-auto">
    <div class="flex flex-wrap justify-between px-10 text-white max-w-7xl gap-10">
        <div class="mb-4 md:mb-0">
            1601 West St., Utica, NY 13501<br><a href="tel:3159227001">(315) 922-7001</a>
        </div>
        <div>
            <a href="https://www.doordash.com/store/west-st-mini-market-utica-31758857/?srsltid=AfmBOopCczIHcWf4nnoWkbRoiyVOeaKE39ijqHchkRMVGwIfoQAz5McC" target="_blank" class="text-white text-center px-2 py-1 border border-gray-700 rounded hover:bg-gray-800">Order Now</a>
            <a href="/menu" class="text-white text-center px-2 py-1 ml-4 border border-gray-700 rounded hover:bg-gray-800">View Menu</a>

        </div>
    </div>
    </div>
</footer>