
<header class='flex shadow-lg py-4 px-4 md:py-6 bg-black text-green-500  min-h-[70px] tracking-wide justify-between'>
    <div class='flex flex-wrap items-center justify-between gap-4 w-full'>

          <div class=' text-lime-400 font-bold md:text-4xl text-3xl'>
            <a href="/" class="hover:text-white">West Street Mini-Mart
            </a>
        </div>
         <div class="flex gap-4 md:gap-10">
            <a href='/menu'
              class='hover:text-white text-lime-400 block font-semibold text-lg md:text-xl uppercase tracking-wider'>Menu</a>
              <a href='about'
              class='hover:text-white text-lime-400 block font-semibold text-lg md:text-xl uppercase tracking-wider'>About</a>
         
         <a href='contact'
              class='hover:text-white text-lime-400 block font-semibold text-lg md:text-xl uppercase tracking-wider'>Contact</a>
         

          
   
      
      </div>
  

    </div>
  </header>