
<header class='flex shadow-lg py-4 px-4 sm:px-10 bg-gray-900 text-white font-[sans-serif] min-h-[70px] tracking-wide justify-between'>
    <div class='flex flex-wrap items-center justify-between gap-4 w-full'>

          <div class=' text-white font-medium md:text-3xl text-3xl'>
            <a href="/">West Street MiniMart
            </a>
        </div>
         <div class="flex gap-10">
            <a href='/menu'
              class='hover:text-[#007bff] text-white block font-semibold text-lg'>Menu</a>
         
         <a href='contact'
              class='hover:text-[#007bff] text-white block font-semibold text-lg'>Contact</a>
         

          
   
      
      </div>
  

    </div>
  </header>