<header class="w-full py-10 md:py-32" style="background:url('/assets/images/sub-sandwich.jpg');background-repeat:no-repeat;background-size:cover;background-position:center center;">
    <div class="mx-auto py-4  md:py-10 bg-gray-900/60 max-w-96 md:max-w-2xl rounded-lg">
    <h1 class="text-3xl md:text-5xl text-white font-bold text-center mb-4 md:mb-4 leading-relaxed">
        {{ entry.title }}
    </h1>
    <div class="prose md:prose-2xl  prose-h4:text-white prose-h4:text-center prose-h4:text-lg">
    <h4>{{ entry.subtitle }}</h4>
    </div>
    <div class="mt-4 md:mt-6 mb-2 flex justify-center gap-6">
    <a href="/" class="text-white text-center px-2 py-1 border border-gray-700  bg-green-800/80 font-medium hover:bg-black/50 rounded-sm md:text-xl">Order Link</a>
    <a href="/menu" class="text-white text-center px-2 py-1 border border-gray-700  bg-green-800/80 font-medium hover:bg-black/50 rounded-sm md:text-xl">Menu</a>
    </div>


    </div>
    </header>