<header class="w-full py-10 md:py-32" style="background:url('/assets/images/sub-sandwich.jpg');background-repeat:no-repeat;background-size:cover;background-position:center center;">
    <div class="mx-auto py-4  md:py-10  backdrop-blur-sm backdrop-brightness-75  max-w-xl md:max-w-3xl rounded">
    <h1 class="text-4xl md:text-6xl text-green-200 font-bold text-center mb-4 md:mb-4 leading-relaxed">
        {{ entry.title }}
    </h1>
    <div class="prose md:prose-xl  prose-h4:text-green-200 prose-h4:text-center prose-h4:text-3xl">
    <h4>{{ entry.subtitle }}</h4>
    </div>
    <div class="mt-6 md:mt-8 mb-2 flex flex-wrap justify-center gap-6">

        <button class="px-3 py-2 bg-green-900 rounded cursor-pointer hover:bg-red-700 transition-colors duration-300 flex justify-center items-center">
            <a href="https://www.doordash.com/store/west-street-mini-market---1601-west-st-utica-31747353/?srsltid=AfmBOoq-pgChHNwOwQ5ka1wAyMV7EAzCNDUenmWwzQ91Af2FIhbJTiM1" target="_blank"><img src="/assets/images/doordash-seeklogo2.png" alt="DoorDash logo" class="h-5 w-auto"></a>
         </button>

        <button class="px-3 py-2  bg-green-900 rounded cursor-pointer hover:bg-red-700 transition-colors duration-300 flex justify-center items-center">
    <a href="/menu" class="text-red-600 hover:text-white font-bold tracking-wider uppercase text-xl">View Menu</a>
        </button>




    </div>


    </div>
    </header>