{% include '_partials/_head.twig' %}
<body class="ltr bg-gray-900">
    {% include '_partials/_nav.twig' %}
    {% include '_partials/_pageHeader.twig' %}

    <section class="mt-20 max-w-6xl mx-auto prose md:prose-lg prose-p:text-white prose-headings:text-lime-500 px-4 min-h-screen">
    
        <h1>
          A little about us...
        </h1>
   {{ entry.text }}




    </section>
    {% include '_partials/_footer.twig' %}
</body>
</html>
