{% include '_partials/_head.twig' %}

<body class="ltr bg-gray-900">
    {% include '_partials/_nav.twig' %}
    {% include '_partials/_pageHeader.twig' %}

    <section class="mt-20 max-w-6xl mx-auto prose md:prose-lg prose-p:text-white prose-headings:text-lime-500 px-4 min-h-screen">
    
            <h1>
              Hit us up...
            </h1>
            <div class="grid md:grid-cols-2 gap-20">
                <div>
                    {{ entry.text }}
                        <div class="flex flex-col justify-center text-white">
                            <div class="flex-items-center mb-4">
                                <a href="#"class="text-white no-underline border border border-gray-700 px-2 py-2 rounded-md tracking-widest hover:border-gray-500"> 
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="h-6 w-6 inline-block mr-2">
                                    <path strokeLinecap="round" strokeLinejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z" />
                                  </svg>
                                  
                              <span class="md:text-lg pt-1">1601 West St., Utica, NY</span>
                                </a>
                            </div>
                            <div class="flex-items-center mb-4">
                               <a href="#"class="text-white no-underline border border border-gray-700 px-2 py-2 rounded-md tracking-widest hover:border-gray-500"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 inline-block mr-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 3.75v4.5m0-4.5h-4.5m4.5 0-6 6m3 12c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 0 1 4.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 0 0-.38 1.21 12.035 12.035 0 0 0 7.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 0 1 1.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 0 1-2.25 2.25h-2.25Z" />
                              </svg>
                              <span class="md:text-lg pt-1">(315) 922-7001</span></a>
                            </div>
                              <div class="flex-items-center mb-4">
                                <a href="#"class="text-white no-underline border border border-gray-700 px-2 py-2 rounded-md tracking-widest hover:border-gray-500"> 
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 inline-block mr-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 1 0-2.636 6.364M16.5 12V8.25" />
                              </svg>
                              <span class="md:text-lg pt-1">alexali20102011@gmail.com</span>
                            </a>
                            </div>
                           
                        </div>

                </div>
             <div>
                    <div class="w-full h-64 md:h-96 lg:h-[500px]">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2913.8457157257053!2d-75.24309612385301!3d43.08673887113469!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d946ce42ca6c8b%3A0x8520577e600481b7!2s1601%20West%20St%2C%20Utica%2C%20NY%2013501!5e0!3m2!1sen!2sus!4v1729902026394!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-full h-full border-0 rounded-md shadow-lg"></iframe>
            </div>
                </div>

            </div>
    
    
        </section>
        {% include '_partials/_footer.twig' %}
</body>
</html>
