<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>West St. Mini-Mart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=6.0, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />


<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">


    <link href="/css/styles.css" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>


</head>
<body class="ltr bg-gray-900">
    {% include '_partials/_nav.twig' %}
    <header class="w-full py-10 md:py-20" style="background:url('/assets/images/sub-sandwich.jpg');background-repeat:no-repeat;background-size:cover;background-position:center center;">
        <div class="mx-auto py-4  md:py-10 bg-gray-900/60 max-w-96 md:max-w-2xl rounded-lg">
        <h1 class="text-3xl md:text-5xl text-white font-bold text-center mb-4 md:mb-4 leading-relaxed">
            {{ entry.title }}
        </h1>
        <div class="prose md:prose-2xl  prose-h4:text-white prose-h4:text-center">
        {{ entry.text }}
        </div>
        <div class="mt-4 md:mt-6 mb-2 flex justify-center gap-6">
        <a href="/" class="text-white text-center px-2 py-1 border border-gray-700  bg-green-800/80 font-medium hover:bg-black/50 rounded-sm md:text-lg">Order Link</a>
        <a href="/" class="text-white text-center px-2 py-1 border border-gray-700  bg-green-800/80 font-medium hover:bg-black/50 rounded-sm md:text-lg">Menu Link</a>
        </div>
 
  
        </div>
        </header>

        <section class="mt-20 max-w-6xl mx-auto prose md:prose-lg prose-p:text-white prose-headings:text-lime-500 px-4 min-h-screen">
    
            <h1>
              Hit us up...
            </h1>
            <div class="grid md:grid-cols-2 gap-20">
                <div>
                    {{ entry.text }}
                    </div>
                <div>
                    <div class="w-full h-64 md:h-96 lg:h-[500px]">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2913.8457157257053!2d-75.24309612385301!3d43.08673887113469!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d946ce42ca6c8b%3A0x8520577e600481b7!2s1601%20West%20St%2C%20Utica%2C%20NY%2013501!5e0!3m2!1sen!2sus!4v1729902026394!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-full h-full border-0 rounded-md shadow-lg"></iframe>
            </div>
                </div>

            </div>
    
    
        </section>
        {% include '_partials/_footer.twig' %}
</body>
</html>
