<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>West St. Mini-Mart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=6.0, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />


<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">


    <link href="/css/styles.css" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>


</head>
<body class="ltr bg-gray-900">
    {% include '_partials/_nav.twig' %}
    {% include '_partials/_pageHeader.twig' %}
 

        <section class="max-w-7xl mx-auto grid md:grid-cols-2 gap-x-20  prose prose-lg prose-headings:text-lime-500 prose-p:text-white min-h-screen px-4">
            <div>
           <h2>Welcome</h2>
                <p>Welcome to West Street Mini Market, your neighborhood go-to spot for delectable delights and convenient essentials. Located at <span class="font-bold">1601 West St.</span> in Utica, NY 13501, our cozy corner store is a hidden gem waiting to be discovered.</p>

            </div>
            <div>
                <h2>Open 7 Days</h2>
                <p class="font-bold">8am-12pm</p>   
                <p>1601 West St.<br>Utica, NY 13501<br><a href="tel:3159227001" class="text-white">(315) 922-7001</a> </p>
                <div class="w-full h-64 md:h-96 lg:h-[500px]">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2913.8457157257053!2d-75.24309612385301!3d43.08673887113469!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d946ce42ca6c8b%3A0x8520577e600481b7!2s1601%20West%20St%2C%20Utica%2C%20NY%2013501!5e0!3m2!1sen!2sus!4v1729902026394!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-full h-full border-0 rounded-md shadow-lg"></iframe>
                    </div>
            </div>
        </section>
        {% include '_partials/_footer.twig' %}
</body>
</html>
