{% include '_partials/_head.twig' %}

<body class="ltr bg-gray-900">
    {% include '_partials/_nav.twig' %}
    {% include '_partials/_pageHeader.twig' %}
 

        <section class="max-w-7xl mx-auto grid md:grid-cols-2 gap-x-20  prose prose-lg prose-headings:text-lime-500 prose-p:text-white min-h-screen px-4 text-center">
            <div class="py-10" class="mx-auto">

                <p>Welcome to West Street Mini Market, your neighborhood go-to spot for delectable delights and convenient essentials.</p><p>Located at <span class="font-bold">1601 West St. in Utica</span>, our cozy corner store is a hidden gem waiting to be discovered. </p><p>Open 7 days a week order from DoorDash, give us a call or just stop in.</p>

                <a href="https://www.doordash.com/store/west-street-mini-market---1601-west-st-utica-31747353/?srsltid=AfmBOoq-pgChHNwOwQ5ka1wAyMV7EAzCNDUenmWwzQ91Af2FIhbJTiM1" target="_blank"><img src="/assets/images/doordash.png" class="text-center mx-auto"></a>

            </div>
            <div class="not-prose">
                <h2 class="text-5xl mt-10 text-lime-400 font-display">Open 7 Days</h2>
                <p class="text-3xl  text-lime-400 mt-6">8am-12pm</p>   
                <p class="text-2xl  text-lime-400 mt-6">1601 West St.</p><p class="text-2xl  text-lime-400 mt-2">Utica, NY 13501</p><p class="text-2xl  text-lime-400 mt-2"><a href="tel:3159227001" class="text-lime-400 mt-6">(315) 922-7001</a> </p>
                <div class="w-full h-64 md:h-96 lg:h-[500px] mt-10">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2913.8457157257053!2d-75.24309612385301!3d43.08673887113469!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d946ce42ca6c8b%3A0x8520577e600481b7!2s1601%20West%20St%2C%20Utica%2C%20NY%2013501!5e0!3m2!1sen!2sus!4v1729902026394!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-full h-full border-0 rounded-md shadow-lg"></iframe>
                    </div>
            </div>
        </section>
        {% include '_partials/_footer.twig' %}
</body>
</html>
