<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>West St. Mini-Mart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=6.0, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />


<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">


    <link href="/css/styles.css" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>


</head>
<body class="ltr bg-gray-900">
    {% include '_partials/_nav.twig' %}
    <header class="w-full py-10 md:py-20" style="background:url('/assets/images/sub-sandwich.jpg');background-repeat:no-repeat;background-size:cover;background-position:center center;">
        <div class="mx-auto py-4  md:py-10 bg-gray-900/60 max-w-96 md:max-w-2xl rounded-lg">
        <h1 class="text-3xl md:text-5xl text-white font-bold text-center mb-4 md:mb-4 leading-relaxed">
            {{ entry.title }}
        </h1>
        <div class="prose md:prose-2xl  prose-h4:text-white prose-h4:text-center">
        {{ entry.text }}
        </div>
        <div class="mt-4 md:mt-6 mb-2 flex justify-center gap-6">
        <a href="/" class="text-white text-center px-2 py-1 border border-gray-700  bg-green-800/80 font-medium hover:bg-black/50 rounded-sm md:text-lg">Order Link</a>
        <a href="/" class="text-white text-center px-2 py-1 border border-gray-700  bg-green-800/80 font-medium hover:bg-black/50 rounded-sm md:text-lg">Menu Link</a>
        </div>
 
  
        </div>
        </header>
 

        <section class="max-w-7xl mx-auto grid md:grid-cols-2 gap-20 mt-20 prose prose-lg prose-headings:text-lime-500 prose-p:text-white min-h-screen px-4">
            <div>
                <h2>Left Side</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, autem. Vel laudantium perferendis voluptates assumenda mollitia, omnis optio fugiat ad ratione repellendus in voluptas minima magni praesentium architecto fugit aliquid.</p>
                <p>Necessitatibus commodi corrupti tempore facere, voluptatum nostrum. Modi pariatur maiores cupiditate nobis earum neque aspernatur explicabo tempore ratione necessitatibus aperiam rem impedit rerum dignissimos quisquam sed odio dolore, nihil perferendis.</p>
                <p>Saepe sit magni tenetur similique dolorum esse itaque. Et nam consequuntur sed beatae velit amet necessitatibus illum animi tempore? In porro nemo rem perspiciatis natus distinctio consectetur dolor fugiat laboriosam!</p>
                <p>Pariatur, voluptatibus reprehenderit mollitia perspiciatis sit odit natus odio cumque tempore quia maxime, perferendis aperiam ipsam. Quam dolores, quia, natus alias blanditiis, eius odit at debitis quae odio reprehenderit atque.</p>
            </div>
            <div>
                <h2>Right Side</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, numquam! Inventore eligendi quam nam nulla quis qui quasi esse tenetur veniam iure repudiandae, fuga nobis illo dolor aperiam voluptates aut.</p>
                <p>Corporis, vero, iure ratione dolorem dicta dignissimos nam asperiores aut perferendis nesciunt sint mollitia? Tempora tempore porro cum architecto impedit! Reiciendis alias accusantium nobis id sequi incidunt amet eveniet voluptatum.</p>
            </div>
        </section>
        {% include '_partials/_footer.twig' %}
</body>
</html>
