<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <title>Menu - West St. Mini-Mart</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=6.0, viewport-fit=cover" />
        <meta name="referrer" content="origin-when-cross-origin" />

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />

        <link href="/css/styles.css" rel="stylesheet" />
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>
    <body class="ltr bg-gray-900">
        {% include '_partials/_nav.twig' %}
        {% block content %}
        {% include '_partials/_pageHeader.twig' %}

    
        <section class="mt-20 max-w-6xl mx-auto prose md:prose-lg prose-p:text-white prose-headings:text-lime-500 px-4">
            <h1>
                Order Now
              </h1>
              <p>Add ordering buttons, links, etc.</p>
        </section>
            <section class="max-w-6xl grid md:grid-cols-2 lg:grid-cols-3 gap-10 mx-auto px-4 mt-10 min-h-screen">

                {% set myEntryQuery = craft.entries().section('menu').limit(10) %}
                {% set entries = myEntryQuery.all() %}

                {% for entry in entries %}
                <div>
                   
                   
                        <h2 class=" text-lime-500 font-medium text-3xl md:text-4xl  mb-4 md:mb-6">{{ entry.title }}</h2>
                       
            

                        {% for block in entry.item.all() %}
                        <div class="flex flex-wrap justify-between text-white not-prose">
                            
                            <p>{{ block.title }}</p>
                            <p>{{ block.priceSmall | money }} {% if block.priceLarge | length %}/  {{ block.priceLarge | money }}{% endif %}</p>
                      
                        </div>
                 {% endfor %}
                </div>
                {% endfor %}
            </section>
        </div>
        {% endblock %}
        {% include '_partials/_footer.twig' %}
    </body>
</html>
